@import "compass";
@import "theme_variables";

.header_user_info{
	@media (min-width: 992px) {
		padding: 0;
	}
	.popup-title{
	    display: none;
		@media (max-width: 991px) {
			a > .fa{
				display: inline-block;
			}
		}
		span{
			@media (max-width: 479px) {
				display: none;
			}
		}
	}
	.links{
		@media (max-width: 991px) {
			width: 150px;
			@include rtl-left-right(auto,0);
			padding: 10px 15px;
			display: none;
		}
		li{
			@media(min-width: 992px){
				@include rtl-margin(0px,15px,0px,15px);
				position: relative;
				&:after{
					content: '';
					position: absolute;
					width: 3px;
					height: 3px;
					background: #999999;
					@include border-radius(50%);
					top: 5px;
					@include rtl-right(-15px);
				}
				&:last-child{
					@include rtl-margin(0px,0px,0px,15px);
					&:after{
						display: none;
					}
				}
			}
			@media (max-width: 991px) {
				display: block;
				padding: 3px 0;
				.ap-btn-wishlist{
					padding: 0;
				}
			}
			a{
				color: $theme-color-secondary;
				@media (max-width: 991px) {
					@include display-flex();
				}
			}
		}
		span{
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 600;
		}
		.fa{
			@include hidden-lg();
			@include hidden-md();
		}
	}
} 
