/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-row {
  margin: 0;
}

.owl-carousel .owl-item {
  padding: 0 15px;
}

/* Styling Next and Prev buttons */
.owl-controls {
  text-align: center;
  margin-top: 20px;
}

.owl-buttons {
  width: 90px;
  position: absolute;
  top: -40px;
  right: 15px;
}
.rtl .owl-buttons {
  left: 15px;
  right: auto;
}
@media (max-width: 479px) {
  .owl-buttons {
    right: 0;
    left: 0;
    margin: auto;
  }
  .rtl .owl-buttons {
    right: 0;
    left: 0;
  }
}
.owl-buttons div {
  width: 40px;
  height: 20px;
  line-height: 20px;
  color: transparent;
  text-align: center;
  border: 1px solid #BBBBBB;
}
.owl-buttons div:before {
  content: "\f178";
  font-family: "FontAwesome";
  color: #9E9E9E;
  font-size: 14px;
  display: block;
}
.owl-buttons div.owl-prev {
  float: left;
}
.owl-buttons div.owl-prev:before {
  content: "\f177";
}
.owl-buttons div.owl-next {
  float: right;
}
@media (min-width: 992px) {
  .owl-buttons div:hover {
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
  }
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}

/* Styling Pagination*/
.owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* If PaginationNumbers is true */
.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../img/AjaxLoader.gif) no-repeat center center;
}
