@import "compass";
@import "theme_variables";

#footer #social_block{
	.title_block{
		@media (min-width: 768px){
			display: none;
		}
	}
	.desc-block{
		font-size: 15px;
		margin-bottom: 50px;
		@media (max-width: 991px){
			margin-bottom: 20px;
		}
	}
	ul li a:before{
		background: transparent;
	}
}