/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#leo_search_block_top {
  border: none;
}
#leo_search_block_top .title_block {
  font-size: 18px;
  color: white;
  padding: 5px 0 10px 0;
  border: none;
  display: none;
}
#leo_search_block_top .block_content {
  position: relative;
  margin-bottom: 0px;
  background: #f8f8f8;
  float: right;
}
.rtl #leo_search_block_top .block_content {
  float: left;
}
#leo_search_block_top .form-control {
  float: left;
  height: 45px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rtl #leo_search_block_top .form-control {
  float: right;
}
#leo_search_block_top .title-search {
  display: none;
}
#leo_search_block_top .box-select {
  padding-right: 42px;
  float: right;
}
.rtl #leo_search_block_top .box-select {
  padding-left: 42px;
  padding-right: inherit;
}
.rtl #leo_search_block_top .box-select {
  float: left;
}
@media (max-width: 991px) {
  #leo_search_block_top .box-select {
    display: none;
  }
}
#leo_search_block_top .box-select:after {
  width: 25px;
  height: 45px;
  line-height: 45px;
  right: 42px;
}
.rtl #leo_search_block_top .box-select:after {
  left: 42px;
  right: auto;
}
#leo_search_block_top .box-select #cate {
  width: 160px;
  border: none;
  color: #999999;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  font-size: 14px;
  margin-left: 0;
  padding: 0 25px 0 10px;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}
.rtl #leo_search_block_top .box-select #cate {
  margin-right: 0;
  margin-left: inherit;
}
.rtl #leo_search_block_top .box-select #cate {
  padding: 0 10px 0 25px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  #leo_search_block_top .box-select #cate {
    width: 155px;
  }
}
#leo_search_block_top .box-select #cate:focus, #leo_search_block_top .box-select #cate:hover, #leo_search_block_top .box-select #cate:active {
  outline: none;
}
#leo_search_block_top .box-select #cate:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}
#leo_search_block_top .search_query {
  width: 340px;
  border: none;
  padding: 6px 50px 6px 12px;
  color: #999999;
  font-size: 14px;
  background: transparent;
}
.rtl #leo_search_block_top .search_query {
  padding: 6px 12px 6px 50px;
}
@media (max-width: 1199px) and (min-width: 992px) {
  #leo_search_block_top .search_query {
    width: 255px;
    padding: 6px 20px 6px 12px;
  }
  .rtl #leo_search_block_top .search_query {
    padding: 6px 12px 6px 20px;
  }
}
@media (max-width: 991px) {
  #leo_search_block_top .search_query {
    width: 300px;
  }
}
@media (max-width: 479px) {
  #leo_search_block_top .search_query {
    width: 270px;
  }
}
#leo_search_block_top #leo_search_top_button {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 99;
  border: none;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: white;
  background: #1734c8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rtl #leo_search_block_top #leo_search_top_button {
  left: 2px;
  right: auto;
}
#leo_search_block_top #leo_search_top_button:hover, #leo_search_block_top #leo_search_top_button:active, #leo_search_block_top #leo_search_top_button:focus {
  background: #e73a2c;
  border: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#leo_search_block_top #leosearchtopbox {
  position: relative;
  line-height: normal;
}
#leo_search_block_top #leosearchtopbox:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  background: #dddddd;
  top: 10px;
  z-index: 99;
  right: 200px;
}
.rtl #leo_search_block_top #leosearchtopbox:before {
  left: 200px;
  right: auto;
}
@media (max-width: 991px) {
  #leo_search_block_top #leosearchtopbox:before {
    display: none;
  }
}

#module-leoproductsearch-productsearch .top-pagination-content .product-count {
  display: none;
}
#module-leoproductsearch-productsearch .product_list .product-block {
  margin-bottom: 25px;
}
#module-leoproductsearch-productsearch .list .right-block {
  text-align: initial;
}
#module-leoproductsearch-productsearch .list .product-desc {
  display: block;
}

.layout-boxed-md #leo_search_block_top .box-select #cate {
  width: 155px;
}
.layout-boxed-md #leo_search_block_top .search_query {
  width: 255px;
  padding: 6px 20px 6px 12px;
}
.rtl .layout-boxed-md #leo_search_block_top .search_query {
  padding: 6px 12px 6px 20px;
}
