// Button
// ========================================================================
	// add to cart
$button-addtocart-bg:               #ddd !default;
$button-addtocart-color:            $text-color !default;
$button-addtocart-border:           $nocolor !default;

$button-addtocart-bg-hover:         #aaa !default;
$button-addtocart-color-hover:      $white  !default;
$button-addtocart-border-hover:     $nocolor !default;

$button-addtocart-font-size:        $font-size-base !default;
$button-addtocart-font-family:      $font-family-base !default;

//---------- Product Elements
	// price
$price-color:						$theme-color-tertiary !default;
$product-price-color:				$price-color;
$product-price-reduction-bg:		$nocolor;
$product-price-old-color: 			#999999 !default;
$product-price-font-family:         $font-family-senary !default;
$product-price-font-size:           16px !default;
  
	// name
$product-name-color:                $theme-color-tertiary !default;
$product-name-hover-color:          #f1404b !default;
$product-name-font-family:          $headings-font-family !default;
$product-name-font-size: 			16px !default;
  
  	// image
$product-image-border:              $main-border !default;
$product-image-radius:              0px !default;
	
	// rating
$product-rating-font-size: 12px !default;  