@import "compass";
@import "theme_variables";

// ************* Home 1 ***************

#index #columns{
	padding-top: 50px;
	@media(max-width: 479px){
		padding-top: 30px;
	}
}

//banner-text
.box-banner-image{
	.content-text{
		.title_block{
			@media (min-width: 992px){
				font-size: 48px;
			}
		}
		.image_description{
			@include rtl-padding-left(100px);
			@media (max-width: 991px){
				@include rtl-padding-left(30px);
			}
			@media (max-width: 479px){
				@include rtl-padding-left(0px);
			}
		}
	}
} 

//group-product
.box-product-image{
	@media (min-width: 480px){
		margin-top: 90px;
		@include display-flex();
		@include align-items(center);
		@include justify-content(center);
		.product-block{
			margin-bottom: 0;
		}
	}
	@media (max-width: 991px){
		margin-top: 60px;
	}
	@media (max-width: 479px){
		margin-top: 30px;
	}
	
}

//border-banner
.box-border-banner{
	margin-top: 90px;
	@media (max-width: 991px){
		margin-top: 60px;
	}
	@media (max-width: 479px){
		margin-top: 30px;
	}
}


//service
.box-service{
	margin-top: 90px;
	margin-bottom: 90px;
	@media (max-width: 991px){
		margin-top: 60px;
		margin-bottom: 60px;
	}
	@media (max-width: 479px){
		margin-top: 30px;
		margin-bottom: 30px;
	}
}


//box-manufacturer 
.box-manufacturer{
	@media(min-width: 992px){
		margin-top: 10px;
	}
}

//blogs
.group-blogs{
	@media(max-width: 991px){
		margin-bottom: 30px;
	}
}