/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#footer {
  border-top: 1px solid #f1f1f1;
  background: #f9f9f9;
}
@media (min-width: 992px) {
  #footer {
    text-align: center;
  }
}
@media (min-width: 992px) {
  #footer .block_content {
    padding: 0;
  }
}
@media (min-width: 992px) {
  #footer ul.list-group {
    padding: 0;
  }
}
@media (min-width: 480px) {
  #footer ul.list-group li {
    float: left;
    width: 50%;
  }
  .rtl #footer ul.list-group li {
    float: right;
  }
}
#footer .logo {
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  #footer .logo {
    margin-bottom: 25px;
  }
}
#footer #social_block .block-2 {
  display: none;
}
#footer #social_block ul li a:before {
  color: #222222;
}
#footer #social_block ul li a:hover:before, #footer #social_block ul li a:active:before, #footer #social_block ul li a:focus:before {
  color: #79c753;
}
@media (min-width: 992px) {
  #footer #newsletter_block_left .block_content {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .box-top-footer {
    display: -webkit-flex;
    /* Safari */
    display: flex;
  }
  .box-top-footer [class*="col-"] {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (max-width: 991px) {
  .box-top-footer {
    padding-top: 50px;
  }
}

.box-bottom-footer {
  height: 70px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  /* Safari 6.1+ */
  justify-content: center;
  position: relative;
}
.box-bottom-footer:before {
  content: '';
  margin: 0 -1000px;
  height: 1px;
  display: block !important;
  background: #f1f1f1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  .footer-bg {
    background: #f4f4f4;
    padding-left: 40px;
    padding-right: 40px;
  }

  .group-newsletter {
    -webkit-order: -1;
    order: -1;
    padding-left: 40px;
    padding-right: 40px;
  }
}
