/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#topbar {
  background: #f4f4f4;
}

.box-top-header {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  align-items: center;
}
.box-top-header > [class*="col-"] {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  align-items: center;
}
.box-top-header .left-top-header {
  -webkit-justify-content: flex-start;
  /* Safari 6.1+ */
  justify-content: flex-start;
}
.box-top-header .right-top-header {
  -webkit-justify-content: flex-end;
  /* Safari 6.1+ */
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .box-center-header {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-align-items: center;
    /* Safari 7.0+ */
    align-items: center;
  }
}
@media (max-width: 991px) {
  .box-center-header {
    margin-bottom: 10px;
  }
}
.box-center-header > [class*="col-"] {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-align-items: center;
  /* Safari 7.0+ */
  align-items: center;
}
.box-center-header .left-center-header {
  -webkit-justify-content: flex-start;
  /* Safari 6.1+ */
  justify-content: flex-start;
}
@media (max-width: 991px) {
  .box-center-header .left-center-header {
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    justify-content: center;
  }
}
.box-center-header .center-center-header {
  -webkit-justify-content: center;
  /* Safari 6.1+ */
  justify-content: center;
}
.box-center-header .center-center-header .logo {
  padding: 30px 0;
}
.box-center-header .right-center-header {
  -webkit-justify-content: flex-end;
  /* Safari 6.1+ */
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .box-center-header .right-center-header {
    height: 40px;
  }
}

.group-bottom-header {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}
@media (min-width: 992px) {
  .group-bottom-header {
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    justify-content: center;
    margin: 20px 0;
  }
}

@media (max-width: 991px) {
  .navbar-header {
    margin-top: -50px;
  }
}
